<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>eShop</title>
   <link rel="stylesheet" href="style.css">
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
   <script async src="script.js"></script>
</head>
<body>
   <div id="root">
      <header>
         <input type="text" id="search" v-model="search" v-on:input="filterItems">
         <button class="cart-button" type="button" v-on:click="showBasket">Корзина</button>
      </header>
      <div class="basket">
         <div class = "basket-item" v-for="item in basketItems.contents">
            <div class = "basket-item-title">{{ item.product_name }}</div>
            <div class = "basket-item-price">{{ item.price }}&#8381</div>
            <div class = "basket-item-quantity">{{ item.quantity }}</div>
          </div>
          <hr>
          <div class="basket-result">Количество товаров: {{ basketItems.countGoods }}</div>
          <div class="basket-result">Общая сумма: {{ basketItems.amount }} &#8381</div>
      </div>
      <main>
         <div class="no_goods">
            Нет данных
         </div>
         <div class="goods-list">
            <div class="goods-item" v-for="item in filteredItems">
               <div class = "goods-item-info">
                  <div class = "goods-item-title">{{ item.product_name }}:</div>
                  <div class = "goods-item-price">{{ item.price }} &#8381</div>
                </div>
                <div class="goods-item-add">Добавить</div>
            </div>
         </div>
         <div class="goods-list-sum">Итого: {{ sum }} &#8381</div>
      </main>
   </div>
</body>
</html>